asgiref==3.8.1
Authlib==1.5.1
certifi==2025.1.31
cffi==1.17.1
cryptography==44.0.2
Django==5.1.7
django-environ==0.12.0
mysqlclient==2.2.7
pycparser==2.22
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
xero_python==7.0.1
